
# Local environment files
# Logs
# Next.js build output
# Node modules
# OS-specific files
# Optional: if using IDEs
# Optional: if using TurboRepo or monorepo
# Optional: if using TypeScript
# Optional: if using testing tools
# Production build
# Vercel deployment
*.tsbuildinfo
.DS_Store
.env
.env.local
.env.*.local
.open-next/
.idea/
.next/
.vercel
.vercel/
.vscode/
Thumbs.db
build/
coverage/
jest-test-results.json
node_modules/
npm-debug.log*
out/
package-lock.json
pnpm-debug.log*
turbo/
yarn-debug.log*
yarn-error.log*
